<!--
An element providing a solution to no problem in particular.

Example:

    <<%= compName %>></<%= compName %>>

@demo
-->
<dom-module id="<%= compName %>">
  <style>
    /* Inherent styles for the component wrapper */
    :host {

    }
  </style>
  <link rel="stylesheet" href="<%= compName %>.css">

  <template>
    <!-- local DOM for your element -->
    <div>{{greeting}}</div> <!-- data bindings in local DOM -->
    <content></content>
  </template>

  <script src="<%= compName %>.js"></script>
</dom-module>